.c1,.c2,.c3 ,.c4 ,.c5 ,.c6{
    background: #1e2222;
    width: 90%;
    height: 250px;
    margin:0 auto;
    border: 5px solid #686969;
    display: flex;
}
h1,h2,h3{
    text-align: center;
    color: rgb(196, 112, 112);
}
p{
    color: white;
}
.c1 div ,.c2 div,.c3 div,.c4 div,.c5 div,.c6 div {
    width: 100px;
    height: 100px;
    border: 1px solid #774936;
    color: white;
    font-weight:900;
    font-size: 2em;
    text-align:center;
    /* flex-wrap: wrap; */
    
}
.c1{
    flex-direction: row;
}
.c2{
    flex-direction: column;
    flex-wrap: wrap;
}
.c3{
    justify-content: space-evenly;
}
.c4{
    align-items:flex-end;
}
.c5{
    flex-direction: row;
    justify-content:center;
    align-items:flex-start;
    flex-wrap: wrap;
}
.c5 div:nth-of-type(3){
    align-self: flex-end;
}
.c5 div:nth-of-type(5){
    align-self:center;
}
.c5 div:nth-of-type(1){
    align-self: center;
}
.c6{
    width: 800px;
    height: 200px;
    flex-basis: 200px;
    flex-grow: 3;
    text-align: center;
}
.c6 div:nth-of-type(3){
    flex-grow: 1; 
} 
.c6 div:nth-of-type(6){
    flex-grow: 1;
} 


    /* flex direction
    row
    row-reverse
    column 
    colum-reverse */
    /* flex-direction:row; */
    
   
    /* justify content */
    /* flex-start
    flex-end
    center 
    space-between
    space-around
    space-evenly */
     /* justify-content: center; */

     /* flex wrap  */
     /* nowrap
     wrap 
     reverse-rap  */
     /* flex-wrap: wrap; */

     /* align-items: center; */


